.banner {
	align-items: center;
	justify-content: center;
	display: flex;
	overflow: hidden;
}

.big-banner img {
	width: 100%;
}

.big-banner {
	width: 100%;
}

.small-banner {
	display: flex;
	flex: 1 0;
}

.small-banner-content {
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
	padding: 25px;
}

.small-banner-img {
	display: flex;
	height: 200px;
	padding: 20px;
	flex: 0 0;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

.small-banner-img img {
	max-height: 95%;
	max-width: 100%;
}

.small-banner-text {
	flex: 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 23pt;
	font-weight: bold;
}

.small-banner-button {
	display: flex;
	border: 2px solid;
	display: flex;
	padding: 5px;
	justify-content: center;
	text-decoration: none;
	align-items: center;
	border-radius: 7%;
	width: 50%;
}

.small-banners {
	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: 600px) {
	/* For tablets and desktop */
	.small-banners {
		flex-direction: row;
	}
}