.banner {
	align-items: center;
	justify-content: center;
	display: flex;
	overflow: hidden;
}

.big-banner>img {
	width: 100%;
	z-index: -1;
	filter: brightness(100%);
	transition: filter 1s, transform 10s;
}

.big-banner:hover>img {
	transform: scale(1.5);
}

.big-banner:hover>.big-banner-button+img {
	filter: brightness(40%);
}

.big-banner {
	width: 100%;
}

.big-banner-button {
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	opacity: 0;
	transition: opacity 1s;
}

.big-banner:hover>.big-banner-button {
	opacity: 1;
}

.small-banner {
	display: flex;
	flex: 1 0;
}

.small-banner-content {
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
	padding: 25px;
}

.small-banner-img {
	display: flex;
	height: 200px;
	padding: 20px;
	flex: 0 0 200px;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

.small-banner-img>img {
	max-height: 95%;
	max-width: 95%;
}

.small-banner-text {
	flex: 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* font-size: 30px; */
	margin: 0;
}

.small-banners {
	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: 600px) {
	/* For tablets and desktop */
	.small-banners {
		margin: 1% 2%;
		flex-direction: row;
	}
	.small-banner {
		margin: 2%;
	}
}