.block-button {
	display: flex;
	border: 2px solid;
	display: flex;
	padding: 5px;
	justify-content: center;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	align-items: center;
	border-radius: 8px;
	width: 50%;
	min-width: min-content;
}

.block-button.block {
	border: none;
}