.event-type-info {
	display: flex;
	flex-direction: column;
	height: 600px;
	width: 100%;
}

@media only screen and (min-width: 600px) {
	/* For tablets and bigger */
	.event-type-info {
		height: 400px;
	}
	.left {
		flex-direction: row-reverse;
	}
	.right {
		flex-direction: row;
	}
}

.event-type-info>div {
	flex: 1 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.event-type-info-img {
	flex-direction: row;
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
}

.event-type-info-img img {
	height: 100%;
	object-fit: cover;
}

.event-type-info-text {
	flex-direction: column;
}