.event-info {
	padding: 3% 5%;
}

.event-info-date {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 7px;
}

.event-info-date>button {
	display: flex;
	flex-direction: row;
	align-items: center;
}

@media only screen and (min-width: 600px) {

	/* For tablets and bigger */
	.event-info {
		max-width: 1000px;
		margin: auto;
	}
}