.event-type-info {
	display: flex;
	flex-direction: column;
	height: 600px;
	width: 100%;
}

@media only screen and (min-width: 600px) {
	/* For tablets and bigger */
	.event-type-info {
		height: 400px;
	}
	.left {
		flex-direction: row-reverse;
	}
	.right {
		flex-direction: row;
	}
	.left .event-type-info-button>svg {
		transform: rotate(-90deg);
	}
	.left .event-type-info-button.open>svg {
		transform: rotate(90deg);
	}
	.right .event-type-info-button>svg {
		transform: rotate(90deg);
	}
	.right .event-type-info-button.open>svg {
		transform: rotate(-90deg);
	}
}

.event-type-info>div {
	flex: 2 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.event-type-info-img {
	position: relative;
	flex-direction: row;
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
}

.event-type-info-img>img {
	max-width: 100%;
	min-height: 100%;
	object-fit: cover;
	filter: brightness(100%);
	transition: filter 1s;
}

.event-type-info-img>img.open {
	filter: brightness(40%);
}

.event-type-info-text {
	flex-direction: column;
	transition: flex 1s;
	padding: 3% 0;
}

.event-type-info-text.open {
	flex: 1;
}

.event-type-info-text-text {
	padding: 0 5%;
}

.event-type-info-text-desc {
	flex: 1 1 100%;
}

.event-type-info-button {
	margin: 5%;
}

.event-type-info-button>svg {
	transition: transform 1s;
	transform: rotate(0deg);
}

.event-type-info-button.open>svg {
	transform: rotate(180deg);
}