.event-info {
	padding: 5%;
}

.no-link-decoration {
	text-decoration: none;
	color: inherit;
}


@media only screen and (min-width: 600px) {

	/* For tablets and bigger */
	.event-info {
		max-width: 1000px;
		margin: auto;
	}
}