.highlightbox {
	display: flex;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 250px;
}

.highlightbox>* {
	margin-top: 0;
}

.highlightbox-button {
	padding: 3%;
	/* font-size: 20px; */
}

@media only screen and (min-width: 600px) {
	/* For tablets and desktop */
	.highlightbox {
		position: relative;
		margin: 50px 8%;
		min-height: 200px;
	}
	.highlightbox-button {
		position: absolute;
		bottom: -20px;
	}
}