.highlightbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 250px;
}

.highlightbox-button {
	padding: 10px;
	/* font-size: 20px; */
}

@media only screen and (min-width: 600px) {
	/* For tablets and desktop */
	.highlightbox {
		position: relative;
		margin: 50px 8%;
		height: 200px;
	}
	.highlightbox-button {
		position: absolute;
		bottom: -20px;
	}
}