/* This CSS is common to all pages */
:root {
  --pink-color: #ffbff7;
  --yellow-color: #fcd418;
  --blue-color: #2e3192;
}

#root {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'queerist-sans', 'Arial', sans-serif;
  font-size: 18px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
}

*::selection {
  background-color: var(--yellow-color);
}

button {
  padding: unset;
  color: unset;
  border: unset;
  background-color: unset;
  font: unset;
  cursor: pointer;
}


.non-sel {
  user-select: none;
}

.no-link-decoration {
  text-decoration: none;
  color: inherit;
}

.width100 {
  width: 100%;
}

.alignCenter {
  text-align: center;
}

.icon-svg {
  display: flex;
  align-items: center;
}

.icon-svg svg {
  margin: 2px;
}