.page-background {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 500px;
	color: white;
}

.page-background p {
	max-width: 80%;
	margin: 10px;
	font-size: 14pt;
}

.page-background h1 {
	margin: 10px;
	font-size: 30pt;
}

.page-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 0;
}

.page-image img {
	width: 150%;
}

@media only screen and (min-width: 600px) {
	/* For tablets and bigger */
	.page-background {
		justify-content: unset;
		padding-top: 20px;
		height: 200px;
	}
	.page-background p {
		max-width: 60%;
	}
	.page-image {
		margin-top: -4%;
	}
	.page-image img {
		width: 80%;
	}
}