.page-background {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 100%;
	padding-top: 65px;
	height: 200px;
	color: white;
	background-color: var(--blue-color);
}

.page-background p {
	max-width: 50%;
	margin: 5px;
	font-size: 14pt;
}

.page-background h1 {
	margin: 5px;
	font-size: 30pt;
}

.page-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: -80px;
}

.page-image img {
	width: 80%;
}