@font-face {
    font-family: 'queerist-sans';
    src: url('./queerist-bold-italic_0-webfont.woff2') format('woff2'),
         url('./queerist-bold-italic_0-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;

}

@font-face {
    font-family: 'queerist-sans';
    src: url('./queerist-italic_0-webfont.woff2') format('woff2'),
         url('./queerist-italic_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'queerist-sans';
    src: url('./queerist-regular_0-webfont.woff2') format('woff2'),
         url('./queerist-regular_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'queerist-sans';
    src: url('./queeristsans-black_0-webfont.woff2') format('woff2'),
         url('./queeristsans-black_0-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'queerist-sans';
    src: url('./queeristsans-blackitalic-webfont.woff2') format('woff2'),
         url('./queeristsans-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'queerist-sans';
    src: url('./queeristsans-bold-webfont.woff2') format('woff2'),
         url('./queeristsans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'queerist-sans';
    src: url('./queeristsans-bolditalic-webfont.woff2') format('woff2'),
         url('./queeristsans-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'queerist-sans';
    src: url('./queeristsans-light-webfont.woff2') format('woff2'),
         url('./queeristsans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'queerist-sans';
    src: url('./queeristsans-lightitalic-webfont.woff2') format('woff2'),
         url('./queeristsans-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'queerist-sans';
    src: url('./queeristsans-medium-webfont.woff2') format('woff2'),
         url('./queeristsans-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'queerist-sans';
    src: url('./queeristsans-mediumitalic-webfont.woff2') format('woff2'),
         url('./queeristsans-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}